<tr>
  <td><%= to_do.id %></td>
  <td title="<%= to_do.title %>"><%= to_do.title.truncate 50 %></td>
  <td><%= to_do.status %></td>
  <td><%= to_do.created_at %></td>
  <td><%= to_do.updated_at %></td>
  <td></td>
</tr>